<a href="https://www.linkedin.com/in/KyleJosephNovak" target="_blank"><i class="fa fa-linkedin-square fa-3x"
                                                                         aria-hidden="true"></i></a>
<a href="https://www.twitter.com/KyleJosephNovak" target="_blank"><i class="fa fa-twitter-square fa-3x"
                                                                     aria-hidden="true"></i></a>
<a href="https://github.com/kylenovak" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
