{% extends "layout.html" %}

{% block title %}About {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text">Home</span></a>
    <a href="#" class="breadcrumb"><span class="breadcrumb-text active">About</span></a>
{% endblock %}

{% block content %}
    <div class="row aboutContent">
        <div class="col s1"></div>
        <div class="main-content col s10">
            <div class="card-panel">
                <h1><i class="fa fa-question-circle-o green-text" aria-hidden="true"></i> About Kyle J. Novak</h1>
                <div>{{ about_content }}</div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
{% endblock %}