{% extends "layout.html" %}

{% block title %}Projects {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text">Home</span></a>
    <a href="#" class="breadcrumb"><span class="breadcrumb-text active">Projects</span></a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="main-content col s8">
            <div class="card-panel">
                <div class="collection with-header">
                    <div class="collection-header">
                        <h4><i class="fa fa-keyboard-o green-text" aria-hidden="true"></i> My Projects</h4>
                    </div>
                    {% for project in projects %}
                        <a class="collection-item" href="/projects/{{ project.url_slug }}">{{ project.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="side-content col s4">
            <div class="card-panel">
                <ul class="collection with-header">
                    <li class="collection-header"><h4><i class="fa fa-handshake-o green-text" aria-hidden="true"></i> Collaborate</h4></li>
                    <li class="collection-item"><p>Contact me if you think I'd be interested in working on a project with you and your team!</p></li>
                    <li class="collection-item"><a href="/contact" class="waves-effect waves-light block btn-green btn-large center">Collaborate</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}