{% extends "layout.html" %}

{% block title %}Home {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text active">Home</span></a>
{% endblock %}

{% block content %}
    <div class="home-content">
        <div class="row welcome">
            <div class="col s6 main-welcome">
                <div class="card-panel center main-panel">
                    <h2 class="no-margin-top center"><i class="fa fa-bell-o green-text" aria-hidden="true"></i> Welcome
                    </h2>
                    <div class="center greetings">{{ welcome_text }}</div>
                    <div class="social">
                        <i class="fa fa-handshake-o fa-3x center icons" aria-hidden="true"></i>
                    </div>
                    <div id="welcomeSocial" class="center">
                        <a href="https://www.linkedin.com/in/KyleJosephNovak" target="_blank"><i
                                class="fa fa-linkedin fa-3x center" aria-hidden="true"></i></a>
                        <a href="https://www.twitter.com/KyleJosephNovak" target="_blank">
                            <i class="fa fa-twitter fa-3x center" aria-hidden="true"></i></a>
                        <a href="https://github.com/kylenovak" target="_blank"><i class="fa fa-github-alt fa-3x center"
                                                                                  aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 side-links">
                <div class="row">
                    <a href="/projects" class="projects">
                        <div class="card-panel center no-margin-bottom  no-margin-top">
                            <h2 class="no-margin-top">My Projects</h2>
                            <i class="fa fa-keyboard-o fa-5x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="row no-margin-bottom">
                    <a href="/resume" class="resume">
                        <div class="card-panel center darken-2 no-margin-bottom">
                            <h2 class="no-margin-top">My R&eacute;sum&eacute;</h2>
                            <i class="fa fa-folder-open-o fa-5x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s4">
                <div class="card-panel center info-point">
                    <h2 class="no-margin-top">Talented</h2>
                    <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel center info-point">
                    <h2 class="no-margin-top">Collaborative</h2>
                    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel center info-point">
                    <h2 class="no-margin-top">Academic</h2>
                    <i class="fa fa-university fa-5x" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <h2 id="repos" class="h2-margin-top"><i class="fa fa-github-alt green-text" aria-hidden="true"></i> My Starred
            GitHub Repos</h2>
        <ul id="starred-repos">
            {% for repo in github_repos %}
                {% if loop.index == 7 %}
                    <div id="starred-repos-more">
                {% endif %}

            {% if loop.index0 % 3 == 0 %}
                <li class="row">
            {% endif %}
            <div class="col s4">
                <div class="card">
                    <div class="card-content center">
                        <div class="text-wrap">
                            <a href="{{ repo['html_url'] }}" class="card-text" target="_blank">
                                <span class="card-title">{{ repo['name'] }}</span>
                            </a>
                            <p class="repo-text text-wrap">{{ repo['description'] }}</p>
                        </div>
                    </div>
                    <div class="card-action">
                                        <span class="new badge blue darken-2" data-badge-caption=""><i
                                                class="fa fa-code-fork"
                                                aria-hidden="true"></i> {{ repo['forks_count'] }}</span>
                        <span class="new badge blue darken-2" data-badge-caption=""><i class="fa fa-star"
                                                                                       aria-hidden="true"></i> {{ repo['stargazers_count'] }}</span>
                        <span class="font-shrink">Updated: {{ repo['updated_at'] | datetime }}</span>
                    </div>
                </div>
            </div>
            {% if loop.index0 % 3 == 2 %}
                </li>{# end of li.row #}
            {% endif %}

            {% if loop.index == github_repos_length %}
                </div>{# end of starred-repos-more #}

                <li class="row show-more">
                    <button id="show-starred-repos" class="waves-effect waves-light btn-blue btn-large center">
                        <i class="fa fa-github-alt" aria-hidden="true"></i> Show More
                    </button>
                    <a href="https://github.com/{{ github_username }}?tab=stars" target="_blank">
                        <button id="view-all-starred-repos"
                                class="waves-effect waves-light btn-blue btn-large center hidden">
                            <i class="fa fa-github-alt" aria-hidden="true"></i> View All
                        </button>
                    </a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>

        <h2 id="tweets" class="h2-margin-top"><i class="blue-text fa fa-twitter" aria-hidden="true"></i> My Recent
            Tweets</h2>
        <div class="row no-margin-bottom">
            <div class="col s12">
                <div class="carousel carousel-slider center white">
                    {% for tweet in recent_tweets %}
                        <div class="carousel-item white">
                            <p class="tweet-text"><i class="fa fa-quote-left grey-text text-lighten-1"
                                                     aria-hidden="true"></i> {{ tweet['text'] }}
                                <i class="fa fa-quote-right grey-text text-lighten-1" aria-hidden="true"></i></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row show-more">
            <a href="https://twitter.com/{{ twitter_username }}" target="_blank">
                <button class="waves-effect waves-light btn-green btn-large center margin-top">
                    <i class="fa fa-twitter" aria-hidden="true"></i> View All
                </button>
            </a>
        </div>
    </div>
{% endblock %}



