{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <p>Welcome to the backend Admin Panel interface. This admin panel
        allows you to modify the various frontend facing pages on
        <a href="/">kylejnovak.com</a>,
        such as: Projects, Resume, About, and Contact.</p>
    <p>You can also <a href="/admin/customfileadmin/">upload images</a>  to the filesystem, which can then be
        used as inline input for the previously mentioned pages.</p>
</div>
{% endblock body %}