{% extends "layout.html" %}

{% block title %}Register {{ super() }}{% endblock %}

{% block content %}
    <h1>Register User</h1>
    <form method="POST" action="{{ url_for('register_page.register') }}">
        {{ register_form.csrf_token }}
        {{ register_form.username.label }} {{ register_form.username(maxlength=255) }}
        {{ register_form.email.label }} {{ register_form.email(maxlength=255) }}
        {{ register_form.password.label }} {{ register_form.password(maxlength=255) }}
        <input type="submit" value="Register">
    </form>
{% endblock %}