// breadcrumbs.scss
@import 'colors';
@import 'mixins';
@import 'defaults';
@import 'transitions';


nav.breadcrumbs {
  overflow: hidden;
  border-bottom: 1px solid #{$blue-grey-darken-2};

  @include box-shadow(none);

  div.nav-wrapper {
    max-width: $page-max-width;
    margin: auto;

    div.col {
      padding: 0;
    }

    a.breadcrumb {
      span.breadcrumb-text {
        padding: 10px;

        @include border-radius(5px);

        &.active {
          color: #FFFFFF;
          background-color: $blue-grey-darken-2;
          cursor: default;
        }

        &:hover {
          text-decoration: none;
          color: #FFFFFF;
          background-color: $blue-grey-darken-2;
        }

         @include transitions(color $transition-speed, background-color $transition-speed);
      }
    }

    div.social-icons a {
      display: inline-block;
      padding: 0 10px;

      margin-right: -4px;

      @include transitions($transition-speed color);

      &:hover {
        color: #4caf50;
      }
    }

  }
}