// breadcrumbs.scss
@import "colors";
@import "mixins";
@import "defaults";
@import "transitions";
@import "animation";

nav.breadcrumbs {
  margin-bottom: 20px;

  background-color: $blue;

  @media all and (max-width: 993px) {
    div.col.s4 {
      display: none;
    }
  }

  @media all and (max-width: 800px) {
    display: none;
  }

  padding: 0 10px;

  div.nav-wrapper {
    max-width: $page-max-width;
    margin: auto;

    div.col {
      padding: 0;
    }

    a.breadcrumb {
      span.breadcrumb-text {
        padding: 10px;

        @include border-radius(5px);

        &.active {
          color: #FFFFFF;
          background-color: $blue-2;
          cursor: default;
        }

        &:hover {
          text-decoration: none;
          color: #FFFFFF;
          background-color: $blue-2;
        }

        @include transitions(color $transition-speed, background-color $transition-speed);
      }
    }

    div.social-icons {
      span.badge {
        font-size: 12px;
        margin-top: 10px;
        line-height: 45px;
        font-weight: bold;
      }

      a {
        display: block;
        float: left;
        padding: 0 10px;
        font-size: 15px;

        @include transitions($transition-speed color);

        &:hover {
          color: $green;
          @extend .shake;
        }
      }
    }
  }
}