// content.scss

@import "content/home_content";
@import "content/project_content";
@import "content/about_content";
@import "content/resume_content";
@import "content/contact_content";

@import "defaults";
@import "colors";
@import "transitions";
@import "mixins";
@import "font";

div.page-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 15px;

  flex: 1;

  main.page-content {
    max-width: $page-max-width;
    width: 100%;

    margin: 15px auto;
    padding: 0;

    a.inline-link:hover {
      text-decoration: underline;
    }

    div.main-content h2 {
      font-size: 2.28rem;
      margin-top: 0;
    }

    div.main-content.col {
      padding-left: 0;
    }
    div.side-content.col {
      padding-right: 0;
    }

    div.card-panel {
      @include box-shadow();

      .collection {
        a.collection-item {
          color: $blue;

          @include transitions($transition-speed color, $transition-speed background);

          &.active {
            color: #FFFFFF;
            background: $blue;
          }
        }
      }
    }
  }
}