// content.scss

@import "defaults";
@import "colors";
@import "transitions";
@import "mixins";


main.page-content {
  max-width: $page-max-width;
  margin: 15px auto;
  padding: 0;

  div.card-panel {
    @include box-shadow();

    ul.collection {
      a.collection-item {
        color: $blue;

        @include transitions($transition-speed color, $transition-speed background);

        &.active {
          color: #FFFFFF;
          background: $blue;
        }
      }
    }
  }
}