// footer.scss
@import 'mixins';
@import 'colors';
@import 'defaults';


footer.page-footer {
  $footer-height: 40px;

  background-color: $secondary-color;
  height: $footer-height;

  @include box-shadow();

  div.container {
    max-width: $page-max-width;
    height: inherit;
    display: flex;
    align-items: center; // vertical center alignment
    justify-content: center; // horizontal center alignment
  }
}