// forms.scss

@import 'colors';
@import 'mixins';
@import 'transitions';

h1.adminFormHeader {
  font-size: 250%;
  margin-top: 10px;
}

div.adminFormWrapper {
  margin: auto;
  overflow: auto;
  width: 500px;
  padding: 0 5px;
}

form#loginForm,
form#registerForm {
  background: #FFFFFF;

  display: flex;
  flex-flow: column;

  max-width: 500px;
  box-sizing: border-box;

  padding: 10px 20px;
  margin: 20px 0;

  @include box-shadow();
  @include border-radius(5px);

  .form-fix {
    float: left;
    clear: both;
    width: 100%;

    @include border-radius(3px);
  }

  label {
    @extend .form-fix;
    color: $green;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="password"] {
    @extend .form-fix;
    @include transitions(border-color $transition-speed);

    box-sizing: border-box;
    padding: 0px 10px;
    border: solid 2px #cccccc;
    font-size: 115%;

    &:focus {
      border-color: $blue;
      @include box-shadow(none);
    }
  }

  input[type="submit"] {
    @extend .form-fix;
    @include transitions(background $transition-speed, color $transition-speed);

    margin: 15px 0 10px 0;
    padding: 10px;
    border: solid 2px $primary-color;
    background: transparent;

    &:hover {
      color: #ffffff;
      background: $primary-color;
    }
  }
}