// forms.scss
@import 'colors';
@import 'mixins';
@import 'transitions';

h2.contactFormHeader,
h2.adminFormHeader {
  font-size: 250%;
  margin-top: 10px;
}

div.contactFormWrapper,
div.adminFormWrapper {
  margin: auto;
  overflow: auto;
  width: 500px;
  padding: 0 5px;
}

#loginForm ul,
#contactForm ul {
  margin-top: 0;
  padding: 10px;
  @include border-radius(5px);
}

.form-inputs {
  .form-fix {
    float: left;
    clear: both;
    width: 100%;

    @include border-radius(3px);
  }

  label {
    @extend .form-fix;
    color: $green;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 5px;
  }

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @extend .form-fix;
    @include transitions(border-color $transition-speed);

    box-sizing: border-box;
    padding: 0px 10px;
    border: solid 2px #cccccc;
    font-size: 115%;

    &:focus {
      border-color: $blue;
      @include box-shadow(none);
    }
  }

  textarea {
    resize: vertical;
    min-height: 150px;
  }
}

form.admin-form.form-horizontal {
  @extend .form-inputs;

  div#cke_content {
    float: left;
    width: 100%;
    clear: both;
  }

  label {
    color: $blue;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;

    a.btn,
    input.btn {
      @include box-shadow(none);
      @include transitions($transition-speed color, $transition-speed background);
      text-transform: capitalize;
      margin: 15px 5px 0 0;
      background: #FFFFFF;
      color: $blue;
      border: 2px solid $blue;

      &:hover {
        color: #FFFFFF;
        background: $blue;
      }
    }
  }
}

form#contactForm,
form#loginForm,
form#registerForm {
  background: #FFFFFF;

  display: flex;
  flex-flow: column;

  max-width: 500px;
  box-sizing: border-box;

  padding: 10px 20px;
  margin: 20px 0;

  @include box-shadow();
  @include border-radius(5px);

  @extend .form-inputs;

  input[type="submit"] {
    @extend .form-fix;
    @include transitions(background $transition-speed, color $transition-speed);

    margin: 15px 0 10px 0;
    padding: 15px 10px;
    border: solid 2px $primary-color;
    background: transparent;
    color: $blue;
    font-weight: bold;

    &:hover {
      color: #ffffff;
      background: $primary-color;
    }
  }
}

form#contactForm .errors {
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: solid 2px #f44336;
  }
}

