// header.scss
@import "defaults";
@import "transitions";
@import "colors";

header.page-header {
  nav {
    box-shadow: none;
    overflow: auto;

    div.nav-wrapper {
      max-width: $page-max-width;

      ul li a {
        font-weight: bold;
        text-transform: uppercase;
        color: #0277bd;
        margin-left: 3px;

        @include transitions($transition-speed background, $transition-speed color);

        &:hover {
          color: #FFFFFF;
          background: #0277bd;
        }

        &.active {
          color: #FFFFFF;
          background: #0277bd;
        }
      }

      a.button-collapse {
        @include transitions($transition-speed background, $transition-speed color);

        background: #f5f5f5;
        color: $blue-grey-darken-2;
        padding: 0 20px;

        &:hover {
          background: #0277bd;
          color: #FFFFFF;
        }
      }
    }
  }
}