// about_content.scss

div.aboutContent {
  a:hover {
    text-decoration: underline;
  }

  div.main-content {
    ul {
      margin-left: 30px;
      li {
        list-style-type: square;
      }
    }
    h1 {
      margin-top: 0;
      font-size: 2.5em;
    }
    h2 {
      font-size: 2em !important;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  @media all and (max-width: 993px) {
    div.col.s1 {
      display: none;
    }

    div.main-content.col.s10 {
      width: 100%;
      padding: 0;
    }
  }
}
