// contact_content.scss

@import "../colors";
@import "../mixins";
@import "../transitions";

div#socialContact {
  margin: 20px 0 5px 0;
  width: 100%;

  a {
    color: $green;
    padding: 5px 20px;
    margin: 0 5px;
    width: 20%;
    background: #FFFFFF;
    border: 2px solid $green;
    display: inline-block;

    @media all and (max-width: 500px) {
      padding: 5%;
      font-size: 50%;
    }

    @include border-radius(3px);
    @include transitions($transition-speed border-color, $transition-speed color);

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }
}