// home_content.scss
@import "../colors";
@import "../mixins";
@import "../transitions";

div.home-content {
  .card {
    @include box-shadow();
  }

  .no-margin-top {
    margin-top: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }

  @media all and (max-width: 664px) {
    div.col.s4 {
      width: 100%;
    }
    div.card-content {
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .h2-margin-top {
      margin-top: 30px;
    }

    .margin-top {
      margin-top: 25px;
    }

    .card .card-action {
      padding: 5px 10px;
    }

    h2 {
      font-size: 2em;
    }
  }
  @media all and (min-width: 665px) {
    .h2-margin-top {
      margin-top: 40px;
    }

    .margin-top {
      margin-top: 35px;
    }

    .card .card-action {
      padding: 10px 20px;
    }

    h2 {
      font-size: 2.5em;
    }
  }

  .row.show-more {
    text-align: center;
  }

  div#starred-repos-more {
    display: none;
  }

  a.card-text {
    font-weight: bold;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: $green-light;
    padding: 3px;
    @include border-radius(3px);
    @include transitions($transition-speed background-color);
  }

  a.card-text:hover {
    background-color: $green;
  }

  .hidden {
    display: none;
  }

  .carousel.carousel-slider {
    @include box-shadow();
    @include border-radius(3px);

    .carousel-item {

      min-height: 150px;
      &:hover {
        cursor: move;
      }

      p.tweet-text {
        position: relative;
        top: 50%;
        -webkit-transform: perspective(1px) translateY(-50%);
        -ms-transform: perspective(1px) translateY(-50%);
        transform: perspective(1px) translateY(-50%);

        color: $blue;
        margin: auto;
        padding: 0;
        width: 80%;

        line-height: 1em;
        font-weight: lighter;
        font-size: 1.5em;

        em {
          font-weight: 300;
        }

        @media all and (min-width: 665px) {
          width: 70%;
          font-size: 2em;
        }
      }
    }
  }
}