// home_content.scss
@import "../colors";
@import "../mixins";
@import "../transitions";

div.home-content {

  div.welcome {
    width: 100%;
    display: table;
    padding: 0 10px;

    div.main-welcome {
      display: table-cell;
      height: 100%;
      float: none;
      position: relative;

      div.main-panel {
        margin: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        div.greetings {
          margin: 15px 0;
          padding: 0 30px;

          a:hover {
            text-decoration: underline;
          }
        }

        .social:before {
          content: "";
          position: absolute;
          top: 57.25%;
          left: 12.5%;
          width: 75%;
          border-bottom: 3px dashed $blue;
        }

        div.social {
          i.icons {
            color: $blue;
            position: relative;
            top: 10px;
            background: white;
            padding: 20px 15px;
            border-radius: 150px;
            border: 3px solid $blue;
          }
        }
      }
    }

    div.side-links {
      padding-left: 20px;
      padding-right: 0;
      display: table-cell;
      height: 100%;
      float: none;

      a.projects {
        div.card-panel {
          color: $green;
          border: 2px solid white;
          @include transitions(border $transition-speed);
        }

        &:hover div.card-panel {
          border: 2px solid $green;
        }
      }

      a.resume {
        div.card-panel {
          color: $blue;
          border: 2px solid white;
          @include transitions(border $transition-speed);
        }

        &:hover div.card-panel {
          border: 2px solid $blue;
        }
      }
    }
  }

  div#welcomeSocial {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;

    a {
      color: $green;
      padding: 5px 20px;
      margin: 0 5px;
      background: #FFFFFF;
      border: 2px solid $green;
      display: inline-block;

      @include border-radius(3px);
      @include transitions($transition-speed border-color, $transition-speed color);

      &:hover {
        color: $blue;
        border-color: $blue;
      }
    }
  }

  div.info-point {
    @include transitions(color $transition-speed);

    &:hover {
      color: $blue;
    }
  }

  .card {
    @include box-shadow();
  }

  .no-margin-top {
    margin-top: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }

  div.card-content {
    padding-top: 12.5px;
  }

  @media all and (max-width: 1199px) {
    div.welcome {
      div.main-welcome {
        div.main-panel {

          div.social:before {
            top: 61%;
          }

          div.social {
            i.icons {
              top: 10px;
              padding: 20px 15px;
              border-radius: 150px;
              border: 2px solid $blue;
              font-size: 200%;
            }
          }
        }
      }
    }
  }

  @media all and (max-width: 850px) {
    div.social {
      display: none;
    }
    
    div.col.s4 {
      width: 100%;
    }
    div.card-content {
      padding-top: 5px;
      padding-bottom: 10px;
    }

    div.welcome {
      width: 100%;
      display: block;
      padding: 5px;
      float: left;

      div.main-welcome,
      div.side-links {
        display: block;
        width: 100%;
        float: left;
        padding: 5px;
        height: auto;
        position: relative;
      }

      div.side-links div {
        display: block;
        width: 100%;
        float: left;
        position: relative;
      }
      div.main-welcome {
        div.main-panel {
          margin: 0 0 35px 0;
          width: 100%;
          position: relative;
          width: 100%;
          display: block;

          div.greetings {
            margin: 15px 0 90px 0;
            padding: 0 30px;
          }
        }
      }
    }
  }

  @media all and (max-width: 764px) {
    .h2-margin-top {
      margin-top: 30px;
    }

    .margin-top {
      margin-top: 25px;
    }

    .card .card-action {
      padding: 5px 10px;
    }

    h2 {
      font-size: 2em;
    }
  }
  @media all and (min-width: 765px) {
    .h2-margin-top {
      margin-top: 40px;
    }

    .margin-top {
      margin-top: 35px;
    }

    .card .card-action {
      padding: 10px 20px;
    }

    h2 {
      font-size: 2.5em;
    }
  }

  .row.show-more {
    text-align: center;
  }

  div#starred-repos-more {
    display: none;
  }

  a.card-text {
    font-weight: bold;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: $green-light;
    padding: 3px 8px;

    @include border-radius(3px);
    @include transitions($transition-speed background-color);
  }

  a.card-text:hover {
    background-color: $green;
  }

  p.repo-text {
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }

  .carousel.carousel-slider {
    @include box-shadow();
    @include border-radius(3px);

    .carousel-item {

      min-height: 150px;
      &:hover {
        cursor: move;
      }

      p.tweet-text {
        position: relative;
        top: 50%;
        -webkit-transform: perspective(1px) translateY(-50%);
        -ms-transform: perspective(1px) translateY(-50%);
        transform: perspective(1px) translateY(-50%);

        color: $blue;
        margin: auto;
        padding: 0;
        width: 80%;

        line-height: 1em;
        font-weight: lighter;
        font-size: 1.5em;

        em {
          font-weight: 300;
        }

        @media all and (min-width: 765px) {
          width: 70%;
          font-size: 2em;
        }
      }
    }
  }
}