// resume_content.scss

div.resumeContent {
  a:hover {
    text-decoration: underline;
  }

  div.main-content h2 {
    margin-top: 0;
  }

  @media all and (max-width: 993px) {
    div.col.s1 {
      display: none;
    }

    div.main-content.col.s10 {
      width: 100%;
      padding: 0;
    }
  }
}