{% extends "layout.html" %}

{% block title %}Contact {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text">Home</span></a>
    <a href="#" class="breadcrumb"><span class="breadcrumb-text active">Contact</span></a>
{% endblock %}

{% block content %}
    <div class="contactFormWrapper">
        <form id="contactForm" method="POST" action="{{ url_for('contact_page.contact') }}">
            <h2 class="contactFormHeader center"><i class="fa fa-envelope-o green-text" aria-hidden="true"></i> Contact Kyle</h2>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="messages {% if g.get('contact_form_errors') %}red{% else %}green{% endif %} white-text">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {{ contact_form.csrf_token }}

            {{ contact_form.name.label }}
            {% for message in contact_form.name.errors %}
                <div class="red-text">{{ message }}</div>
            {% endfor %}
            <span class="{% if contact_form.name.errors %}errors{% endif %}">
                {{ contact_form.name(maxlength=60) }}
            </span>

            {{ contact_form.email.label }}
            {% for message in contact_form.email.errors %}
                <div class="red-text">{{ message }}</div>
            {% endfor %}
            <span class="{% if contact_form.email.errors %}errors{% endif %}">
                {{ contact_form.email(maxlength=255) }}
            </span>

            {{ contact_form.subject.label }}
            {% for message in contact_form.subject.errors %}
                <div class="red-text">{{ message }}</div>
            {% endfor %}
            <span class="{% if contact_form.subject.errors %}errors{% endif %}">
                {{ contact_form.subject(maxlength=100) }}
            </span>

            {{ contact_form.message.label }}
            {% for message in contact_form.message.errors %}
                <div class="red-text">{{ message }}</div>
            {% endfor %}
            <span class="{% if contact_form.message.errors %}errors{% endif %}">
                {{ contact_form.message(maxlength=1000) }}
            </span>

            <div id="socialContact" class="center">
                <a href="https://www.linkedin.com/in/KyleJosephNovak" target="_blank"><i
                        class="fa fa-linkedin fa-3x center" aria-hidden="true"></i></a>
                <a href="https://www.twitter.com/KyleJosephNovak" target="_blank">
                    <i class="fa fa-twitter fa-3x center" aria-hidden="true"></i></a>
                <a href="https://github.com/kylenovak" target="_blank"><i class="fa fa-github-alt fa-3x center"
                                                                          aria-hidden="true"></i></a>
            </div>

            {{ contact_form.submit }}
        </form>
    </div>
{% endblock %}