{% extends "layout.html" %}

{% block title %}Contact {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text">Home</span></a>
    <a href="#" class="breadcrumb"><span class="breadcrumb-text active">Contact</span></a>
{% endblock %}

{% block content %}
    <div class="contactFormWrapper">
        <form id="contactForm" method="POST" action="{{ url_for('contact_page.contact') }}">
            <h2 class="contactFormHeader">Contact Me</h2>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="messages {% if g.get('contact_form_errors') %}red{% else %}green{% endif %} white-text">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {{ contact_form.csrf_token }}

            {{ contact_form.name.label }}
            {{ contact_form.name(maxlength=60) }}

            {{ contact_form.email.label }}
            {{ contact_form.email(maxlength=255) }}

            {{ contact_form.subject.label }}
            {{ contact_form.subject(maxlength=100) }}

            {{ contact_form.message.label }}
            {{ contact_form.message(maxlength=1000) }}

            {{ contact_form.submit }}
        </form>
    </div>
{% endblock %}