{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_css %}
    {% include "stylesheets.html" %}
{% endblock %}

{% block page_body %}
    <div class="page-wrapper">
        {% include 'header/header.html' %}

        <nav class="breadcrumbs">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s8">
                        {% block breadcrumbs %}{% endblock %}
                    </div>
                    <div class="col s4">
                        <div class="social-icons right">
                            <span class="new badge green" data-badge-caption="&laquo; Social Connect"></span>
                            {% include "header/social_links.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="admin-wrapper">
            <div class="title-wrapper">
                <h1>Admin Control Panel</h1>
            </div>
            <div class="admin">
                <div class="row">
                    <div class="col s2">
                        <ul class="nav nav-pills nav-stacked">
                            {{ layout.menu() }}
                            {{ layout.menu_links() }}
                        </ul>
                    </div>
                    <div class="col s10">
                        <div id="content">
                            {% block brand %}
                                <h2 class="brand">{{ admin_view.name | capitalize }}</h2>
                            {% endblock %}
                            {{ layout.messages() }}
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}