{% extends "layout.html" %}

{% block title %}Internal server issue (500 error)! {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text">Home</span></a>
    <a href="#" class="breadcrumb"><span class="breadcrumb-text active">Internal server issue</span></a>
{% endblock %}

{% block content %}
    <div class="row miscContent">
        <div class="col s1"></div>
        <div class="main-content col s10">
            <div class="card-panel">
                <h2 class="no-margin-top red-text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
Internal Server Issue (500 error)</h2>
                <div>There was an internal server issue. If the issue persists, please <a href="/contact">contact the site admin</a>.
            </div>
        </div>
        <div class="col s1"></div>
    </div>
{% endblock %}