<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}{% endblock %} | Kyle J. Novak</title>
         <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='dist/bundle.css') }}">
    {% endblock %}
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>

    <div class="page-wrapper">
        {% include "header.html" %}

        {% if  request.url_rule.endpoint not in ['home_page.home', 'login_page.login', 'register_page.register'] %}
            <div class="breadcrumbs-wrapper">
                <div class="breadcrumbs">
                    {% block breadcrumbs %}{% endblock %}
                </div>
            </div>
        {% endif %}

        <main class="page-content">
            {% block content %}{% endblock %}
        </main>

        {% include "footer.html" %}
    </div>

    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    {# Remove this script in production #}
    {#<script src="http://localhost:35729/livereload.js"></script>#}
</body>
</html>