{% extends "layout.html" %}

{% block title %}Page Not Found (404 error)! {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="breadcrumb"><span class="breadcrumb-text">Home</span></a>
    <a href="#" class="breadcrumb"><span class="breadcrumb-text active">Page not found</span></a>
{% endblock %}

{% block content %}
    <div class="row miscContent">
        <div class="col s1"></div>
        <div class="main-content col s10">
            <div class="card-panel">
                <h2 class="no-margin-top red-text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
Page Not Found (404 error)</h2>
                <div>The page you were searching for does not exist. Visit the <a href="/">home page</a> to start anew.</div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
{% endblock %}